.u-delayed-fade-in {
    animation: fadeIn 1.5s ease-out 1.5s backwards;
}

.u-border-bottom-div {
    height: 3px;
    background-image: linear-gradient(to right, rgba($color-secondary-light, .7), rgba($color-secondary-dark, .7));
}